/* || VARIÁVEIS */
:root {
	--color-red-dark: #A81E21;
	--color-red-clear: #FF6164;
	--color-red-main: #F64648;
	--color-green-dark: #0DA838;
	--color-green-clear: #45F575;

	--height-header: 100px;
}
/* VARIÁVEIS || */





/* || ATRIBUIÇÕES GERAIS */
* {
	margin: 0;
	padding: 0;
	font-family: 'Ubuntu', Arial, Liberation Sans;
}

body {
	background-color: #000;
}

.column {
	flex-direction: column;
}

.centralized {
	align-items: center;
}

section {
	display: flex;
	justify-content: center;
}

.container {
	display: flex;
	max-width: 1040px;
	width: 100%;
}

.bgBlackTransp {
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.7);
	display: flex;
	justify-content: center;
}
/* ATRIBUIÇÕES GERAIS || */





/* || HEADER LOGO/MENU */
header {
	height: var(--height-header);
	width: 100%;
	
	position: fixed;
	top: 0;
	left: 0;
	
	display: flex;
	justify-content: center;

	font-weight: 500;
	font-size: 16px;
}

.headerIn {
	justify-content: space-between;
	align-items: center;
}

.headerIn img {
	height: 70px;
}

.menu a {
	text-decoration: none;
}

.menu ul, .menu li {
	height: var(--height-header);
	
	list-style: none;
	
	display: flex;
	align-items: center;
	
	box-sizing: border-box;
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent;
}

.menu li {
	margin-left: 20px;
	text-transform: uppercase;
	color: #FFF;
}

.menu li:hover {
	color: #CCC;
	border-bottom-color: var(--color-red-main);
}
/* HEADER LOGO/MENU || */





/* || BANNER */
#banner {
	height: 100vh;

	background-image: url("../images/banner.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.bannerIn {
	flex-direction: column;
	justify-content: center;
	align-items: flex-end;

	text-align: right;
	color: #FFF;
}

.bannerIn h1 {
	font-size: 70px;
	font-weight: 500;
	max-width: 600px;
}

.bannerIn h2 {
	font-size: 28px;
	font-weight: 300;
	max-width: 400px;
}
/* BANNER || */





/* || MAIN (ATRIBUIÇÕES GERAIS) */
main section > :last-child {
	padding-bottom: 40px;
}

main section .titleMain {
	margin-top: 60px;

	text-transform: uppercase;
	text-align: center;
	font-size: 26px;
	font-weight: 500;
}

main section .subtitleMain {
	margin-top: 20px;

	text-transform: uppercase;
	text-align: center;
	font-size: 14px;
}

main section .bodySection {
	margin-top: 50px;
	display: flex;
}

main section .bodySection .title {
	text-transform: uppercase;
	font-size: 16px;
	font-weight: 500;
	margin-top: 20px;
}

main section .bodySection .subtitle {
	font-size: 14px;
	margin-top: 10px;
}


.darkSection {
	background-color: #000;
}
.darkSection .titleMain, .darkSection .bodySection .title {
	color: #FFF;
}
.darkSection .subtitleMain, .darkSection .bodySection .subtitle {
	color: #AAA;
}


.lightSection {
	background-color: #FFF;
}
.lightSection .titleMain, .lightSection .bodySection .title {
	color: #000;
}
.lightSection .subtitleMain, .lightSection .bodySection .subtitle {
	color: #555;
}
/* MAIN (ATRIBUIÇÕES GERAIS) || */





/* || SLIDES */
.slides {
	width: 960px;
	overflow: hidden;
	margin: auto;
}

.slidesArea {
	width: 1000vw;
	transition: margin-left 1s;
}

.slide {
	width: 300px;
	margin: 0 10px;
	border-radius: 2px;
	float: left;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #FFF;
	text-align: center;
}

.slide img {
	width: 190px;
	height: 190px;
	border-radius: 95px;
	border: 2px solid #000;
	margin-top: 50px;
}

.slide .title {
	color: #000 !important;
}

.slide .subtitle {
	text-transform: uppercase;
	margin-bottom: 20px;
}

.slides .move {
	height: 80px;
	width: 960px;
	position: absolute;
	background-color: transparent;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: calc(206px - 40px);
}

.slides .back, .slides .next {
	width: 70px;
	height: 70px;
	border-radius: 35px;
	border: 1px solid #000;
	background-color: rgba(255, 255, 255, 0.8);
	display: flex;
	justify-content: center;
	align-items: center;
}

.slides .back {
	margin-left: -30px;
}
.slides .next {
	margin-right: -30px;
}

.slides .back:hover, .slides .next:hover {
	background-color: #DDD;
	cursor: pointer;
}

.slides .back img {
	height: 40px;
	transform: rotate(180deg);
}
.slides .next img {
	height: 40px;
}
/* SLIDES || */





/* || SOBRE NÓS */
.sobreNos {
	justify-content: space-between;
}

.sobreNos div {
	display: flex;
	flex-direction: column;
	align-items: center;
	flex: 1;
	padding: 0 10px;
}

.sobreNos > :nth-child(2) {
	border-left: 1px solid;
	border-right: 1px solid;
	border-color: var(--color-red-clear);
}

.sobreNos img {
	height: 100px;
}
/* SOBRE NÓS || */





/* || SERVIÇOS */
#servicos {
	background-image: url("../images/servicos-bg.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

#servicos .bgBlackTransp {
	background-color: rgba(0, 0, 0, 0.8);
}

.servicos > div {
	display: flex;
	width: 100%;
	margin-bottom: 40px;
	overflow: hidden;
	border-radius: 2px;
}

.servicos .servico1 .servicoA {
	background-image: url("../images/servico-gravacao.jpg");
}
.servicos .servico2 .servicoA {
	background-image: url("../images/servico-edicao.jpg");
}
.servicos .servico3 .servicoA {
	background-image: url("../images/servico-producao.jpg");
}
.servicos .servico4 .servicoA {
	background-image: url("../images/servico-mixagem.jpg");
}
.servicos .servico5 .servicoA {
	background-image: url("../images/servico-masterizacao.jpg");
}

.servicos .servicoA {
	height: 300px;
	flex: 2;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.servicos .servicoB {
	flex: 1;
	background-color: var(--color-green-dark);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 0 20px;
	text-align: center;
}

.servicos .servicoB .title{
	font-size: 26px;
}

.servicos .servicoB .subtitle{
	font-size: 18px;
	color: #CCC;
}
/* SERVIÇOS || */





/* || NOSSOS PROJETOS */
#nossosProjetos {
	background-color: #DDD;
}

.nossosProjetos {
	justify-content: center;
}

.nossosProjetos .slide audio {
	width: 250px;
	margin-bottom: 30px;
}
/* NOSSOS PROJETOS || */