/* || VARIÁVEIS */
:root {
	--color-red-dark: #A81E21;
	--color-red-clear: #FF6164;
	--color-red-main: #F64648;
	--color-green-dark: #0DA838;
	--color-green-clear: #45F575;

	--height-header: 100px;
}
/* VARIÁVEIS || */





/* || ATRIBUIÇÕES GERAIS */
* {
	margin: 0;
	padding: 0;
	font-family: 'Ubuntu', Arial, Liberation Sans;
}

body {
	background-color: #000;
}

.column {
	flex-direction: column;
}

.centralized {
	align-items: center;
}

section {
	display: flex;
	justify-content: center;
}

.container {
	display: flex;
	max-width: 1040px;
	width: 100%;
	padding: 0 20px;
}

.bgBlackTransp {
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.7);
	display: flex;
	justify-content: center;
}
/* ATRIBUIÇÕES GERAIS || */





/* || HEADER LOGO/MENU */
header {
	height: var(--height-header);
	width: 100%;
	
	position: fixed;
	top: 0;
	left: 0;
	z-index: 5;
	
	display: flex;
	justify-content: center;

	font-weight: 500;
	font-size: 16px;

	transition: background-color 0.7s;
}

header.black {
	background-color: rgba(0, 0, 0, 0.9);
}

.headerIn {
	justify-content: space-between;
	align-items: center;
}

.headerIn img {
	height: 70px;
}

.menu a {
	text-decoration: none;
}

.menu ul, .menu li {
	height: var(--height-header);
	
	list-style: none;
	
	display: flex;
	align-items: center;
	
	box-sizing: border-box;
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent;
}

.menu li {
	margin-left: 20px;
	text-transform: uppercase;
	color: #FFF;
	transition: all 0.3s;
}

.menu li:hover {
	color: #CCC;
	border-bottom-color: var(--color-red-main);
}

.menu li.active {
	color: #CCC;
	border-bottom-color: var(--color-red-dark);
}
/* HEADER LOGO/MENU || */





/* || BANNER */
#banner {
	height: 100vh;

	background-image: url("../images/banner.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.bannerIn {
	flex-direction: column;
	justify-content: center;
	align-items: flex-end;

	text-align: right;
	color: #FFF;
}

.bannerIn h1 {
	font-size: 70px;
	font-weight: 500;
	max-width: 600px;
}

.bannerIn h2 {
	font-size: 28px;
	font-weight: 300;
	max-width: 400px;
}
/* BANNER || */





/* || MAIN (ATRIBUIÇÕES GERAIS) */
main section > :last-child {
	padding-bottom: 40px;
}

main section .titleMain {
	margin-top: 60px;

	text-transform: uppercase;
	text-align: center;
	font-size: 26px;
	font-weight: 500;
}

main section .subtitleMain {
	margin-top: 20px;

	text-transform: uppercase;
	text-align: center;
	font-size: 14px;
}

main section .bodySection {
	margin-top: 50px;
	display: flex;
}

main section .bodySection .title {
	text-transform: uppercase;
	font-size: 16px;
	font-weight: 500;
	margin-top: 20px;
	text-align: center;
}

main section .bodySection .subtitle {
	font-size: 14px;
	margin-top: 10px;
	text-align: center;
}


.darkSection {
	background-color: #000;
}
.darkSection .titleMain, .darkSection .bodySection .title {
	color: #FFF;
}
.darkSection .subtitleMain, .darkSection .bodySection .subtitle {
	color: #AAA;
}


.lightSection {
	background-color: #FFF;
}
.lightSection .titleMain, .lightSection .bodySection .title {
	color: #000;
}
.lightSection .subtitleMain, .lightSection .bodySection .subtitle {
	color: #555;
}


.button {
	height: 40px;
	width: 100px;
	margin: auto;
	margin-top: 10px;
    background-color: var(--color-red-main);
    border-color: transparent;
    border-radius: 20px;
    color:#FFF;
    text-transform: uppercase;
    text-decoration: none;
    outline: 0;
}

.button:hover {
	color: var(--color-red-dark);
}
.button:active {
	color: var(--color-red-clear);
}
/* MAIN (ATRIBUIÇÕES GERAIS) || */





/* || SLIDES */
.slides {
	width: 960px;
	overflow: hidden;
	margin: auto;
}

.slidesArea {
	width: 1000vw;
	transition: margin-left 1s;
}

.slide {
	width: 300px;
	margin: 0 10px;
	border-radius: 2px;
	float: left;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #FFF;
	text-align: center;
}

.slide img {
	width: 190px;
	height: 190px;
	border-radius: 95px;
	border: 2px solid #000;
	margin-top: 50px;
}

.slide .title {
	color: #000 !important;
}

.slide .subtitle {
	text-transform: uppercase;
	margin-bottom: 20px;
}

.slides .move {
	height: 80px;
	width: 960px;
	position: absolute;
	background-color: transparent;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: calc(206px - 40px);
}

.slides .back, .slides .next {
	width: 70px;
	height: 70px;
	border-radius: 35px;
	border: 1px solid #000;
	background-color: rgba(255, 255, 255, 0.8);
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

.slides .back {
	margin-left: -30px;
}
.slides .next {
	margin-right: -30px;
}

.slides .back:hover, .slides .next:hover {
	background-color: #DDD;
}

.slides .back:active, .slides .next:active {
	background-color: #AAA;
}

.slides .back img {
	height: 40px;
	transform: rotate(180deg);
}
.slides .next img {
	height: 40px;
}
/* SLIDES || */





/* || MENU MOBILE */
.menuMobile {
	height: 25px;
	width: 35px;
	display: none;
	flex-direction: column;
	justify-content: space-between;
	cursor: pointer;
}

.menuMobileLine {
	height: 4px;
	border-radius: 5px;
	background-color: #FFF;
}
/* MENU MOBILE || */





/* || SOBRE NÓS */
.sobreNos {
	justify-content: space-between;
}

.sobreNos div {
	display: flex;
	flex-direction: column;
	align-items: center;
	flex: 1;
	padding: 0 10px;
}

.sobreNos > :nth-child(2) {
	border-left: 1px solid;
	border-right: 1px solid;
	border-color: var(--color-red-clear);
}

.sobreNos img {
	height: 100px;
}
/* SOBRE NÓS || */





/* || SERVIÇOS */
#servicos {
	background-image: url("../images/servicos-bg.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	overflow-x: hidden;
}

#servicos .bgBlackTransp {
	background-color: rgba(0, 0, 0, 0.8);
}

.servicos > div {
	display: flex;
	width: 100%;
	min-height: 300px;
	margin-bottom: 40px;
	overflow: hidden;
	border-radius: 2px;
}

.servicos .servico1 .servicoA {
	background-image: url("../images/servico-gravacao.jpg");
}
.servicos .servico2 .servicoA {
	background-image: url("../images/servico-edicao.jpg");
}
.servicos .servico3 .servicoA {
	background-image: url("../images/servico-producao.jpg");
}
.servicos .servico4 .servicoA {
	background-image: url("../images/servico-mixagem.jpg");
}
.servicos .servico5 .servicoA {
	background-image: url("../images/servico-masterizacao.jpg");
}

.servicos .servicoA {
	flex: 2;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.servicos .servicoB {
	flex: 1;
	background-color: var(--color-red-dark);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 0 20px;
	padding-bottom: 20px;
	text-align: center;
}

.servicos .servicoB .title{
	font-size: 26px;
}

.servicos .servicoB .subtitle{
	font-size: 18px;
	color: #CCC;
}
/* SERVIÇOS || */





/* || NOSSOS PROJETOS */
#nossosProjetos {
	background-color: #DDD;
}

.nossosProjetos {
	justify-content: center;
}

.nossosProjetos .slide audio {
	width: 250px;
	margin-bottom: 30px;
}

.nossosProjetos .slide audio:focus {
	outline: 0;
}
/* NOSSOS PROJETOS || */





/* || GALERIA */
@keyframes displayShow {
	from {opacity: 0;}
	to {opacity: 1;}
}

.galeria {
	width: 100%;
	justify-content: center;
	flex-wrap: wrap;
}

.galeria > div {
	width: 255px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.galeria > div:hover .ampliarFoto {
	display: flex;
	cursor: pointer;
}

.galeria .ampliarFoto {
	position: absolute;
	width: 240px;
	height: 155px;
	margin: 7.5px 15px;
	background-color: rgba(0,0,0,0.7);
	display: none;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	color: #FFF;
	animation-name: displayShow;
	animation-duration: 1s;
}

.galeria .ampliarFoto img {
	width: 50px;
	margin-top: 10px;
}

.galeria > div > img {
	width: 240px;
	height: 155px;
	margin: 7.5px 15px;
}
/* GALERIA || */





/* || CONTATE-NOS */
.contatenos {
	flex-direction: column;
	align-items: center;
}

.contatenos form {
	width: 60%;
}

.frmContatenos {
	display: flex;
	flex-direction: column;
	font-size: 16px;
}

.frmContatenos input[type=text],
.frmContatenos textarea {
	height: 40px;
	background: transparent;
	border: 0;
	margin-bottom: 10px;
	border-bottom: 1px solid #CCC;
	outline: 0;
}

.frmContatenos textarea {
	height: 100px;
	resize: none;
}

.frmContatenos .nomeAndEmail {
	display: flex;
	justify-content: space-between;
}

.frmContatenos .nomeAndEmail input {
	width: 47%;
}

.contatenos .localMapa {
	width: 100%;
	margin-top: 50px;
	overflow: hidden;
	border-radius: 2px;
}

.contatenos .endereco {
	width: 100%;
	min-height: 40px;
	background-color: #EEE;
	border-radius: 2px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #FFF;
}

.contatenos .endereco span {
	text-shadow: 0 0 2px #000;
	font-size: 16px;
}
/* CONTATE-NOS || */





/* || FOOTER */
footer {
	background-color: #000;
	display: flex;
	flex-direction: column;
	align-items: center;
	color: #FFF;
}

footer > img {
	height: 120px;
	margin-top: 50px;
}

footer .fb {
	grid-area: fb;
}
footer .ig {
	grid-area: ig;
}
footer .ml {
	grid-area: ml;
}
footer .tl {
	grid-area: tl;
}

footer .itens {
	margin: 20px 0;
	display: grid;
	grid-template: 
		"fb fb" 1fr
		"ig ig" 1fr
		"ml tl" 1fr
		/1fr 1fr
	;
}

footer .itens a {
	text-decoration: none;
	color: #AAA;
	font-size: 16px;
	margin: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
}

footer .itens img {
	background-color: #FFF;
	width: 30px;
	height: 30px;
	border-radius: 15px;
	margin-right: 10px;
}
/* FOOTER || */





/* || FOOTER COPYRIGHT */
.footerCopyright {
	display: flex;
	justify-content: space-between;
	background-color: #222;
	padding: 10px 20px;
	font-size: 14px;
	color: #909090;
}

.footerCopyright .author a {
	text-decoration: underline;
	color: #D5D5D5;
}

.footerCopyright .voltarHOME a {
	text-decoration: none;
	color: #909090;
}
/* FOOTER COPYRIGHT || */





/* || ANIMAÇÃO JS */
[data-animeServicos] {
	opacity: 0;
	transition: all 0.5s;
}

[data-animeServicos="left"] {
	transform: translate3d(-50vw, 0, 0);
}

[data-animeServicos="right"] {
	transform: translate3d(50vw, 0, 0);
}

[data-animeServicos].animateLR {
	opacity: 1;
	transform: translate3d(0, 0, 0);
}
/* ANIMAÇÃO JS || */





/* RESPONSIVIDADE: */
@media (max-width: 1024px) and (min-width: 933px) {

	/* SLIDE: */
	.slides, .slides .move {
		width: 640px;
	}
}

@media (max-width: 932px) and (min-width: 706px) {

	/* SLIDE: */
	.slides, .slides .move {
		width: 640px;
	}

	/* SOBRE NÓS: */
	.sobreNos .title {
		max-width: 215px;
	}

	/* HEADER: */
	.menuMobile {
		display: flex;
	}

	.menu ul {
		display: none;
		flex-direction: column;
		width: 100%;
		top: 75px;
		left: 0;
		position: absolute;
		background: rgba(0, 0, 0, 0.9);
	}

	/* BANNER: */
	.bannerIn h1 {
		font-size: 60px;
		max-width: 400px;
	}

	.bannerIn h2 {
		font-size: 24px;
		max-width: 300px;
	}
}

@media (max-width: 705px) and (min-width: 451px) {

	/* SLIDE: */
	.slides, .slides .move {
		width: 320px;
	}

	/* HEADER: */
	.menuMobile {
		display: flex;
	}

	.menu ul {
		display: none;
		flex-direction: column;
		width: 100%;
		top: 75px;
		left: 0;
		position: absolute;
		background: rgba(0, 0, 0, 0.9);
	}

	/* BANNER: */
	.bannerIn h1 {
		font-size: 50px;
		max-width: 300px;
	}

	.bannerIn h2 {
		font-size: 20px;
		max-width: 225px;
	}

	/* SOBRE NÓS: */
	.sobreNos {
		flex-direction: column;
	}

	.sobreNos .title {
		padding-bottom: 0;
	}

	.sobreNos .subtitle {
		padding-top: 0;
	}

	.sobreNos div {
		padding: 20px 0;
		margin: 0 50px;
	}

	.sobreNos > :nth-child(2) {
		border-left: none;
		border-right: none;
		border-top: 1px solid;
		border-bottom: 1px solid;
	}

	/* || SERVIÇOS */
	.servicos > div {
		flex-direction: column;
	}

	.servicos .servicoA {
		min-height: 200px;
	}
}

@media (max-width: 450px) {

	/* SLIDE: */
	.slides, .slides .move {
		width: 250px;
	}

	.slide {
		width: 230px;
	}

	.slide img {
		width: 170px;
		height: 170px;
		border-radius: 85px;
	}

	.slides .back, .slides .next {
		width: 50px;
		height: 50px;
		border-radius: 25px;
	}

	.slides .back {
		margin-left: -20px;
	}
	.slides .next {
		margin-right: -20px;
	}

	.slides .back img {
		height: 20px;
	}
	.slides .next img {
		height: 20px;
	}

	/* HEADER: */
	.menuMobile {
		display: flex;
	}

	.menu ul {
		display: none;
		flex-direction: column;
		width: 100%;
		top: 75px;
		left: 0;
		position: absolute;
		background: rgba(0, 0, 0, 0.9);
	}

	/* BANNER: */
	.bannerIn h1 {
		font-size: 40px;
		max-width: 250px;
	}

	.bannerIn h2 {
		font-size: 20px;
		max-width: 225px;
	}

	/* SOBRE NÓS: */
	#sobreNos .subtitleMain {
		max-width: 300px;
		margin: auto;
		margin-top: 20px;
	}

	.sobreNos {
		flex-direction: column;
	}

	.sobreNos .title {
		padding-bottom: 0;
	}

	.sobreNos .subtitle {
		padding-top: 0;
	}

	.sobreNos div {
		padding: 20px 0;
		margin: 0 15px;
	}

	.sobreNos > :nth-child(2) {
		border-left: none;
		border-right: none;
		border-top: 1px solid;
		border-bottom: 1px solid;
	}

	/* || SERVIÇOS */
	.servicos > div {
		flex-direction: column;
	}

	.servicos .servicoA {
		min-height: 200px;
	}

	/* NOSSOS PROJETOS: */
	.nossosProjetos .slide audio {
		width: 200px;
	}

	#nossosProjetos .subtitleMain {
		max-width: 250px;
		margin: auto;
		margin-top: 20px;
	}

	/* FOOTER: */
	footer .itens {
		margin: 20px 0;
		display: grid;
		grid-template: 
			"fb fb" 1fr
			"ig ig" 1fr
			"tl tl" 1fr
			"ml ml" 1fr
			/1fr 1fr
		;
	}

	/* FOOTER COPYRIGHT: */
	.footerCopyright .author {
		width: 100%;
		text-align: center;
	}

	.footerCopyright .voltarHOME {
		display: none;
	}
}